@layer components {

  .c-link, .c-link-2, .c-link-3-a, .c-link-3-b, .c-link-3-c, .c-link-4 {
    display: inline;
    max-width: max-content;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    opacity: 1;
    transition: opacity 200ms ease-out;
  }

  .c-link:hover {
      opacity: 0.7;
  }

  .c-link-2 {
    &:hover {
      opacity: 0.7;
    }

    &::before {
      position: absolute;
      content: "";
      top: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      opacity: 0;
      transition: transform 200ms ease-out, opacity 200ms ease-out;
      transform: translate3d(0, -0.25em, 0);
    }

    &:hover::before {
      transform: translate3d(0, 0, 0);
      opacity: 0.5;
    }
  }

  .c-link-3-a {
    &::before {
      position: absolute;
      top: 90%;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 300ms;
    }

    &:hover::before {
      transform-origin: 0% 50%;
      transform: scale3d(1, 1, 1);
    }
  }

  .c-link-3-b {
    &::before {
      position: absolute;
      top: 90%;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transform-origin: left;
      transform: scale3d(0, 1, 1);
      transition: transform 700ms 200ms cubic-bezier(.16,1,.3,1);
    }

    &::after {
      position: absolute;
      top: 90%;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transform-origin: right;
      transform: scale3d(1, 1, 1);
      transition: transform 700ms cubic-bezier(.16,1,.3,1);
    }

    &:hover::before {
      transform: scale3d(1, 1, 1);
    }

    &:hover::after {
      transform: scale3d(0, 1, 1);
    }
  }

  .c-link-3-c {
    &::before {
      position: absolute;
      top: 90%;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transform-origin: 50% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 300ms;
    }

    &:hover::before {
      transform-origin: 50% 50%;
      transform: scale3d(1, 1, 1);
    }
  }

  .c-link-4 {
    /* Visible line */
    &::before {
      position: absolute;
      top: calc(100% - 2px);
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 2px;
      background-color: currentColor;
      opacity: 0.25;
    }

    /* Animated line */
    &::after {
      position: absolute;
      top: 2px);
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 300ms ease-out;
    }

    &:hover::after {
      transform-origin: 0% 50%;
      transform: scale3d(1, 1, 1);
    }
  }
}
