:root {
  /* Brand colors */
  --color-primary: 299, 65%, 60%;
  --color-secondary: 307, 52%, 36%;
  --color-tertiary: 340, 82%, 58%;

  /* Status colors */
  --color-success: 160, 84%, 31%;
  --color-error: 347, 77%, 50%;
  --color-warning: 38, 92%, 48%;
  --color-info: 200, 98%, 39%;

  /* Text colors */
  --color-muted: var(--color-gray-300);
  --color-rich: var(--color-white);
  --color-invert: var(--color-gray-900);

  /* Background colors */
  --color-body: 269, 52%, 13%;
  --color-body-50: 269, 52%, 18%;
  --color-body-100: 269, 52%, 25%;
  --color-body-200: 269, 52%, 32%;

  /* Default grays */
  --color-gray-50: 216, 16%, 98%;
  --color-gray-100: 220, 14%, 96%;
  --color-gray-200: 220, 13%, 91%;
  --color-gray-300: 216, 12%, 84%;
  --color-gray-400: 218, 11%, 65%;
  --color-gray-500: 220, 9%, 46%;
  --color-gray-600: 215, 12%, 34%;
  --color-gray-700: 217, 15%, 27%;
  --color-gray-800: 215, 21%, 16%;
  --color-gray-900: 221, 24%, 11%;
  --color-white: 0, 0%, 100%;
  --color-black: 0, 0%, 0%;
}
